.personalAccount {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.userInfo {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.userInfo p {
  font-size: 16px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.changeFormLink a {
  display: inline-block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.changeFormLink a:hover {
  color: #0056b3;
}

.changeAccount {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  background-color: #f8f8f8;
  border-radius: 10px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.changeInfo {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}




