/* styles.css */

/* Общие стили для страницы */
.personalAccount {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.welcome::first-letter {
  text-transform: uppercase;
}

/* Стили для блока с информацией о пользователе */
.userInfo {
  margin-bottom: 20px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.userInfo p {
  font-size: 16px;
  margin: 10px 0;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

/* Стили для ссылки на форму смены данных */
.changeFormLink a {
  display: inline-block;
  font-size: 14px;
  color: #007bff;
  text-decoration: none;
  transition: color 0.3s;
}

.changeFormLink a:hover {
  color: #0056b3;
}

.welcome {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.btnLogout{
  margin-top: 20px;
  background-color: #972121;
  color: white;
  border: none;
  font-size: 20px; 
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

