.container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 14px;
  width: 300px;
  margin: 0 auto;
  margin-top: 20px;
  margin-bottom: 50px;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.text {
  display: flex;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
  justify-content: center;
}

a {
  text-decoration: none;
}

.reCAPTCHA {
  transform: scale(0.9); /* Уменьшение размера */
  transform-origin: 0 0;
  z-index: 0; /* Устанавливаем z-index на 0 */
  position: relative; /* Задаем относительное позиционирование */
}

.error {
  color: red;
  font-size: 0.9em;
}

.inputError {
  border: 1px solid red;
}