.container {
  display: flex; /* Устанавливаем родительскому контейнеру свойство display: flex */
  flex-wrap: wrap; /* Разрешаем элементам переноситься на новую строку при необходимости */
  text-align: center;
  margin: 20px 100px;
  justify-content: space-around;
  border: 1px solid rgb(192, 192, 192);
  border-radius: 20px;
  box-shadow: 5px 2px 5px rgba(0, 0, 0, 0.1);

}

.item {
  width: 300px;
  flex-direction: column; /* Устанавливаем направление элементов в колонку */
  align-items: center; /* Выравниваем элементы по центру по горизонтали */
  margin: 20px; /* Добавляем отступ между элементами */
  border: 1px solid rgb(155, 155, 155);
  border-radius: 16px;
  padding: 10px;
  background: linear-gradient(
    0deg,
    #fde1ff 0%,
    #e1ffea22 60%
  ); /*градиент снизу - вверх*/
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);

}

.item img {
  width: 300px;
  height: 300px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.item:hover {
  background: linear-gradient(
    0deg,
    #6b9760 0%,
    #ffede122 40%
  ); /*градиент снизу - вверх*/
  box-shadow: 10px 2px 5px rgba(0, 0, 0, 0.1);

}

.imageClass {
  width: 200px; /* Устанавливаем ширину изображений */
  height: 200px; /* Устанавливаем высоту изображений */

}

.textClass {
  font-size: 15px;
  color: black;
}

.textClass:hover {
    color: #041983;
}

a {
    text-decoration: none;
}

.head {
  display: flex;
  justify-content: center;
  width: 100%;

}
