/* .container {
  width: 100%;
  background-color: #082c42;
  font-size: 20px; 
  font-weight: bold; 
  color: #da7e51; 
  letter-spacing: 2px; 
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); 
  padding-top: 100px;
} */

.nav {
  /* position: fixed; */
  top: 0;
  left: 0;
  width: 100%;
  background-color: #082c42;
  z-index: 1000; /* Убедитесь, что z-index выше, чем у других элементов на странице */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1px;
}

.logo {
  width: 100px;
  padding-left: 10px;
  height: 100px;
  border-radius: 43%;
}

.menu ul {
  list-style-type: none;
  margin-right: 30px;
  padding: 0;
  display: flex;
}

.menu li {
  margin-right: 1rem;
}

.menu li:last-child {
  margin-right: 0;
  
}

.menu li a {
  text-decoration: none;
  color: #fff;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
  font-size: 22px;
}

.menu li a:hover {
  color: #da7e51; /* Change to desired hover color */
}

.nameSite {
  display: flex;
  font-size: 24px; /* Увеличиваем размер шрифта */
  font-weight: bold; /* Делаем текст жирным */
  color: #da7e51; /* Изменяем цвет текста на томатный */
  text-transform: uppercase; /* Преобразуем текст в верхний регистр */
  letter-spacing: 2px; /* Увеличиваем расстояние между буквами */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); /* Добавляем тень к тексту */
}