.container {
  border: 1px solid black;
  padding: 10px;
  border-radius: 14px;
  width: 300px;
  margin: 0 auto;
  margin-top: 45px;
}

.input {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}

.submit {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.captcha {
  width: 90%;
  height: 100%;
  border: 1px solid rgb(241, 3, 3);
  padding: 5px;
  border-radius: 14px;
  margin: 10px;
  margin-bottom: 10px;
}

.reCAPTCHA {
  transform: scale(0.9); /* Уменьшение размера */
  transform-origin: 0 0;
}
