.container {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #082c42;
 
}

.footBar {
  display: flex;
  justify-content: center; /* Выравниваем содержимое по центру */
}

.menu ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.menu ul li {
  display: inline;
  margin-right: 20px;
}

.menu ul li:last-child {
  margin-right: 0;
}

.menu ul li a {
  color: white;
  text-decoration: none;
}

.menu ul li a:hover {
  text-decoration: underline;
}
