/* styles.module.css */

.toolbar {
    padding: 10px;
    text-align: center;
  }
  
  .filter {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .filterElement {
    display: inline-block;
    padding: 5px 10px;
    margin-right: 10px;
    cursor: pointer;
    border-radius: 5px;
    background-color: #eeeeee;
  }
  
  .filterElement:hover {
    background-color: #aaa;
  }
  
  .filterElement.active {
    background-color: #007bff;
    color: #fff;
  }
  